<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicLanguageRuntime" version="1.2.2" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.7.4" targetFramework="net461" />
  <package id="NSIS" version="2.51" targetFramework="net461" />
  <package id="Quartz" version="3.0.7" targetFramework="net461" />
  <package id="System.Data.SQLite" version="1.0.109.2" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.109.2" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.109.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Linq" version="1.0.109.0" targetFramework="net461" />
  <package id="System.Runtime.Caching" version="4.5.0" targetFramework="net461" />
  <package id="VideoLAN.LibVLC.Windows" version="3.0.6" targetFramework="net461" />
  <package id="Vlc.DotNet.Core" version="2.2.1" targetFramework="net461" />
  <package id="Vlc.DotNet.Core.Interops" version="2.2.1" targetFramework="net461" />
  <package id="Vlc.DotNet.Forms" version="2.2.1" targetFramework="net461" />
</packages>